trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-24.04'   # or 'ubuntu-latest' if you prefer 22.04

variables:
  imageName: 'my-docker-image'

steps:
- task: Docker@2
  displayName: Build Docker image
  inputs:
    command: build
    repository: $(imageName)
    dockerfile: Dockerfile
    buildContext: .
